body {
	background-color: #f97;
	overflow: hidden;
}

.wrapper {
	display : flex;
	flex-direction: column;
}

.main {
	z-index: 1;
	overflow: auto;
	top: 0; right: 0; 
	bottom: 0; left: 0;
	position: absolute; 
}

.flex-grid {
	z-index: -1;

	margin-top: -2vw !important;
	display: flex;
	flex-direction: column;
}

.flex-grid > .row {
	display: flex;
}

.row > .cell {
	display: flex;
	/*transition: 1s;*/
	border-right: none;
	border-left: none;
	border-bottom: none;
	border-top: .1vw solid white;
}