body {
	background-color: #f55;
	overflow: hidden;
}

div {
	border: .5vw solid white;
	border-radius: 30%;
	height: 5vw;
	width: 5vw;
/*	position: absolute; 
	top: 25vw; 
	left: 25vw;*/
	margin: 1vw;
	float: left;
}